---
const steps=['Waste / Biomass','Nanomaterials','Processing & Coating','Characterization / Simulation','Applications'];
---
<ol class="pipeline" data-reveal>{steps.map((step,index)=><li><b>0{index+1}</b><span>{step}</span></li>)}</ol>
